body {
    background-image: url('../images/bg.jpg');
    background-position: top center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.main {
    width: 100%;
    max-width: 1015px;
    margin: auto;
    color: #FFF;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    margin: 40px 0;
}
header .menu-icon {
    display: none;
}
header .line-icon {
    width: 35px;
    height: 5px;
    background-color: #FFF;
    border-radius: 3px;
    margin-bottom: 4px;
}
header .logo {
    width: 200px;
}
header .logo  img {
    width: 100%;
}
nav {
    flex: 1;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
}
nav li {
    margin: 0 10px;
}
nav a {
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
}

/* SECTION MAIN */ 

.section-main {
    display: flex;
}
.section-1 {
    flex: 1;
}
.section-1 h1 {
    margin-top: 80px;
    font-size: 45px;
}
.section-1 p {
    font-size: 18px;
    font-weight: 700;
}
.section-2 .phone1 {
    width: 315px;
    height: auto;
    position: relative;
    z-index: 2;
}
.section-2 .phone2 {
    width: 320px;
    height: auto;
    position: relative;
    z-index: 1;
    margin-left: -160px;
}
.cta {
    display: flex;
}
.cta .button {
    text-decoration: none;
    font-weight: 700;
    color: #FFF;
    background-color: #22C064;
    margin: 10px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta .blue {
    background-color: #427aa9;
}

/* RESPONSIVIDADE */ 

@media (max-width: 1000px) {
    header {
        margin-left: 10px;
        margin-right: 10px;
    }
    .section-main {
        flex-direction: column;
    }
    .section-1  h1 {
        text-align: center;
        font-size: 35px;
        margin-top: 0;
    }
    .section-1 p {
        text-align: center;
        font-size: 15px;
        margin: 0 40px;
        margin-bottom: 40px;
    }
    .cta {
        justify-content: center;
    }
    .section-2 {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .section-2 .phone1 {
        width: 320px;
        height: auto;
        position: relative;
        margin: 0 10px;
    }
    .section-2 .phone2 {
        width: 320px;
        height: auto;
        position: relative;
        margin-left: 0;
        margin: 0 10px;
    }
}

@media (max-width: 750px) {
    nav {
        display: none;
    }
    header .menu-icon {
        display: block;
        position: absolute;
        left: 10px;
    }
    header .logo {
        width: 100%;
        text-align: center;
    }
    header .logo img {
        width: 200px;
    }
    .section-1  h1 {
        font-size: 28px;
    }
    .section-1 p {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .cta {
        flex-direction: column;
        align-items: center;
    }
    .section-2 {
        display: block;
        text-align: center;
        margin-top: 30px;
    }
    .section-2 .phone1 {
        width: 215px;
        height: auto;
        z-index: 2;
        margin: 0;
    }
    .section-2 .phone2 {
        width: 220px;
        height: auto;
        margin: 0;
        margin-left: -128px;
        z-index: 1;
    }
}